API_PORT=8000
PYTHONPATH=app:tg_bot

MONGO_DB_CHAT_DATABASE=chat
MONGO_DB_CHAT_COLLECTION=chat
MONGO_DB_MESSAGES_COLLECTION=messages
MONGO_DB_ADMIN_USERNAME=admin
MONGO_DB_ADMIN_PASSWORD=admin
MONGO_USERNAME=admin
MONGO_PASSWORD=admin
MONGO_DB_CONNECTION_URI=mongodb://${MONGO_USERNAME:?}:${MONGO_PASSWORD:?}@mongodb:27017/?authSource=admin

KAFKA_URL=kafka:29092
KAFKA_GROUP_ID=tg-bot
NEW_CHATS_EVENT_TOPIC=new-chats-topic
CHATS_DELETED_EVENT_TOPIC=chats-deleted-topic
NEW_MESSAGE_RECEIVED_EVENT_TOPIC=new-messages

TG_BOT_TOKEN=<PASTE-YOUR-TELEGRAM-BOT-TOKEN>
TELEGRAM_SUPPORT_GROUP_ID=<PASTE-YOUR-TELEGRAM-CHAT-ID>
WEB_API_BASE_URL=http://main-app:8000
DATABASE_NAME=test.db